.header {
  display: flex;
  align-items: center;
  padding: 0 24px;
  position: fixed;
  width: 100%;
  z-index: 1;

  .logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 24px;
  }

  :global {
    .ant-menu {
      flex: 1;
      justify-content: flex-end;
    }
  }
} 